html {
  font-size: 136%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: auto;
  padding: 1em;
  max-width: 50%;
}

.Mainheader {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 3px;
  padding-left: 28px;
  padding-bottom: 4px;
}

a,
a:visited {
  text-decoration: none;
  color: blue;
}

p {
  text-align: justify;
}
/*css for the main page links */

.mainPageLinks{
  margin-bottom: 9px;
}
.mainPageLinks a {
  color: #2b6cc2;
  text-decoration: none;
 
}
li {
  list-style-type: none;
}

/* Style for the essay index */
.essayIndex {
  list-style: none; /* Remove default list styles */
  margin-bottom: 20px;
}

.essayIndex a {
  text-decoration: none;
  color: #2b6cc2;
}

.essayIndex b {
  display: block;
  color: black;
  font-size: 70%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 11px;
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}
.essayIndex:last-child {
  margin-bottom: 50px;
}

footer {
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}

.EssaysFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 41%;
}
.footerEmail {
  text-decoration: none;
  color: #2b6cc2;
}


/* CSS for mobile view */
@media (max-width: 767px) {
  body {
    width: 100%; /* Full width for mobile devices */
  }
}
