/**/
html {
  font-size: 120%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: auto;
  padding: 1em;
  width: 70%;
}

.Mainheader {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 3px;
  padding-left: 25px;
}

a,
a:visited {
  text-decoration: none;
  color: #2b6cc2;
}

p {
  text-align: justify;
}

/*css for the main page blocks*/
.MainPageNavBlocks {
  width: 63%;
  float: left;
}
.MainPageNavBlocks a {
  margin: 0;
}

.MainPageNavBlocks p {
  margin: 0;
  padding-top: 20px;
}

/*this class is for main page links*/
.divone {
  margin-top: 30px;
  margin-left: 10px;
}

/*css for the main page links */

.mainPageLinks {
  margin-bottom: 9px;
  margin-left: 10px;
}
.mainPageLinks p a {
  color: #2b6cc2;
  text-decoration: none;
}

.mainPageLinks a {
  color: #2b6cc2;
  text-decoration: none;
}

li {
  list-style-type: none;
}
/* this class is for right side image as a block for a while*/
.imageCSS {
  background-color: rgb(246, 245, 245);
  float: right;
  width: 33%;
  padding: 13px;
  margin: 4.5px;
  padding-bottom: 38%;
  border-radius: 3px;
}
/* Style for the essay index */
.container h1 {
  background-color: #eff4fa;
  padding: 10px;
  padding-left: 20px;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

.essayIndex {
  list-style: none;
  margin-bottom: 20px;
  margin-left: 15px;
}

.essayIndex a {
  text-decoration: none;
  color: #2b6cc2;
  font-family: "Oxygen", sans-serif;
}

.essayIndex b {
  display: block;
  color: black;
  font-size: 90%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #8a8989;
  font-weight: bold;
  text-transform: uppercase;
}
.essayIndex:last-child {
  margin-bottom: 50px;
}

footer {
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}

.EssaysFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30%;
}
.footerEmail {
  text-decoration: none;
  color: #2b6cc2;
}

/* CSS for mobile view */
@media (max-width: 767px) {
  html {
    font-size: 71%;
  }
  body {
    width: 97%;
    margin: auto;
    padding: 0.5em;
  }
  .Mainheader {
    padding-left: 5px;
    padding-right: 5px;
  }
  /*css for the main page blocks*/
  .MainPageNavBlocks {
    width: 53%;
    padding-left: 5px;
  }

  /*css for the main page links */

  .mainPageLinks {
    margin-left: 5px;
  }
  /* this class is for right side image as a block for a while*/
  .imageCSS {
    margin-top: 20px;
  }
  /* Style for the essay index */
  .container h1 {
    padding: 5px;
    padding-left: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .essayIndex {
    margin-bottom: 20px;
    margin-left: 15px;
  }

  .essayIndex a {
    text-decoration: none;
    color: #2b6cc2;
    font-family: "Oxygen", sans-serif;
  }

  .essayIndex b {
    display: block;
    color: black;
    font-size: 90%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #8a8989;
    font-weight: bold;
    text-transform: uppercase;
  }
  .essayIndex:last-child {
    margin-bottom: 50px;
  }

  footer {
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
  }

  .EssaysFooter {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30%;
  }
  .footerEmail {
    text-decoration: none;
    color: #2b6cc2;
  }
}
